* {
	box-sizing: border-box;
	margin-top: 0px;
	margin-bottom: 0px;
}

h1{
	text-align: center;
	margin: 30px;
}

.block {
	position: relative;

	background-color: gray;

	border: 2px solid black;
	margin: 30px 30px 30px 30px;
}

.title	{
	
	font-family: Helvetica;
	font-size: 20px;
	font-weight: bold;

	border: 1px solid black;
	padding: 5px 40px 5px 40px;

	position: absolute;
	top: 0px;
	right: 0px;
}

#t1 {
	background-color: pink;
}

#t2 {
	background-color: maroon;
	color: white;
}

#t3 {
	background-color: yellow;
}

p {
	font-family: Helvetica;

	position: relative;
	top: 20px;

	margin: 40px 10px 40px 10px;

}

/*Desktop*/

@media (min-width: 992px) {
	.col_lg_1, .col_lg_2, .col_lg_3, .col_lg_4, .col_lg_5, .col_lg_6,
	.col_lg_7, .col_lg_8, .col_lg_9, .col_lg_10, .col_lg_11, .col_lg_12 {
		float: left;
	}

	.col_lg_1 {
		width: 8.33%;
	}

	.col_lg_2 {
		width: 16.66%;
	}

	.col_lg_3 {
		width: 25%;
	}

	.col_lg_4 {
		width: 33.33%;
	}

	.col_lg_5 {
		width: 41.66%;
	}

	.col_lg_6 {
		width: 50%;
	}

	.col_lg_7 {
		width: 58.33%;
	}

	.col_lg_8 {
		width: 66.66%;
	}

	.col_lg_9 {
		width: 75%;
	}

	.col_lg_10 {
		width: 83.33%;
	}

	.col_lg_11 {
		width: 91.66%;
	}

	.col_lg_12 {
		width: 100%;
	}
}

/*Tablet*/

@media (min-width: 768px) and (max-width: 991px) {
	.col_md_1, .col_md_2, .col_md_3, .col_md_4, .col_md_5, .col_md_6,
	.col_md_7, .col_md_8, .col_md_9, .col_md_10, .col_md_11, .col_md_12 {
		float: left;
	}

	.col_md_1 {
		width: 8.33%;
	}

	.col_md_2 {
		width: 16.66%;
	}

	.col_md_3 {
		width: 25%;
	}

	.col_md_4 {
		width: 33.33%;
	}

	.col_md_5 {
		width: 41.66%;
	}

	.col_md_6 {
		width: 50%;
	}

	.col_md_7 {
		width: 58.33%;
	}

	.col_md_8 {
		width: 66.66%;
	}

	.col_md_9 {
		width: 75%;
	}

	.col_md_10 {
		width: 83.33%;
	}

	.col_md_11 {
		width: 91.66%;
	}

	.col_md_12 {
		width: 100%;
	}
}

/*Celular*/

@media (max-width: 767px) {
	.col_sm_1, .col_sm_2, .col_sm_3, .col_sm_4, .col_sm_5, .col_sm_6,
	.col_sm_7, .col_sm_8, .col_sm_9, .col_sm_10, .col_sm_11, .col_sm_12 {
		float: left;
	}

	.col_sm_1 {
		width: 8.33%;
	}

	.col_sm_2 {
		width: 16.66%;
	}

	.col_sm_3 {
		width: 25%;
	}

	.col_sm_4 {
		width: 33.33%;
	}

	.col_sm_5 {
		width: 41.66%;
	}

	.col_sm_6 {
		width: 50%;
	}

	.col_sm_7 {
		width: 58.33%;
	}

	.col_sm_8 {
		width: 66.66%;
	}

	.col_sm_9 {
		width: 75%;
	}

	.col_sm_10 {
		width: 83.33%;
	}

	.col_sm_11 {
		width: 91.66%;
	}

	.col_sm_12 {
		width: 100%;
	}
}